<h1>Editing project launch</h1>

<%= render "form", project_launch: @project_launch %>

<br>

<div>
  <%= link_to "Show this project launch", @project_launch %> |
  <%= link_to "Back to project launches", project_launches_path %>
</div>
