<% if current_user %>
  <div class="checkbox-wrapper-22">
    <label class="switch" for="checkbox-<%= profile.id %>">
      <input type="checkbox" id="checkbox-<%= profile.id %>" class="profile-checkmark" data-profile-id="<%= profile.id %>" data-project-id="<%= profile.project_launch.id %>" 
      <% if current_user.checkmarks.exists?(profile: profile, checked: true) %>
          checked="checked"
      <% end %>
      />
      <div class="slider round" data-on="Done" data-off="Connect"></div>
    </label>
  </div>
<% else %>
  <p>Please log in to check profiles</p>
<% end %>
