<!-- app/views/projects/index.html.erb -->

 <% @projects.each do |project| %>
    <div id="projects">
    <%= render "project", project: project %>
  <% end %>
</div>

<div class="pagination">
  <%= will_paginate @projects, renderer: BulmaPaginationRenderer %>
</div>
