<!-- app/views/projects/index.html.erb -->

<section class="section">
  <div class="container">
    <div id="projects">
      <%= render partial: "project", collection: @projects, as: :project %>
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
      <%= will_paginate @projects, renderer: BulmaPaginationRenderer %>
    </nav>
  </div>
</section>
