/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */





/* retlated to the main database view and looks like this */
.project {
    height: 100px;
    overflow: hidden; /* Ensure content that overflows the fixed height is hidden */
    transition: height 0.2s ease; /* Smooth transition for height */
  }
  
  .project .media-left .image {
    height: 60px;
    width: 60px;
  }
  
  .project .media-left img {
    height: 60px;
    width: 60px;
    object-fit: cover; /* Ensure the image covers the 60x60 area */
  }
  
  .project .media-content .content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .profiles {
    display: none; /* Initially hidden */
  }
  
  .profiles .media-left .image {
    height: 60px;
    width: 60px;
  }
  
  .profiles .media-left img {
    height: 60px;
    width: 60px;
    object-fit: cover;
  }
  
  .title:not(:last-child){
    margin-bottom: 0.8%;
  }
  .level:not(:last-child){
    margin-bottom:0.8%;
  }
 